<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/head'); %>
  </head>
  <body class="ml-12 bg-white dark:bg-gray-800 dark:text-white">
		<br/><br/>
		
		<h1 class="mb-6 text-5xl font-bold tracking-tight">Hi, my name is Daniel.</h1>
		
    <br>

		<!-- 		Links -->
    <div>
			<div class="inline-flex rounded-md shadow-sm">
      <% Object.keys(links).forEach(function(link){ %>
					<a href="<%= links[link].url %>" class="py-2 px-4 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white"><%= link %></a>
			<% }) %>
    </div>

		<br><br><br><br>
    <div id="projects">
      <h1 class="mb-6 text-2xl font-bold tracking-tight">Projects:</h1>
      <!-- <hr/> -->

      <div id="projects-list">
				<div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5"> 
        <% projects.forEach(function(project){ %>
					<div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
        <img class="rounded-t-lg" src="/docs/images/blog/image-1.jpg" alt="" />
    </a>
    <div class="p-5">
        <a href="<%= project.url %>" rel="noopener" target="_blank">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
							<%= project.name.toUpperCase() %>
								<img
                src="/static/images/languages/<%= project.language %>.svg"
                alt="<%= project.language %>"

                style="width: 20px; height: 20px; color: black; display: inline-block;"
                class="small-logo"
              >
						</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><%= project.description %></p>
    </div>
</div>
        <% }) %>
				</div>
      </div>
    </div>

		<br><br><br><br>
    <div id="blogs">
			<h1 class="mb-6 text-2xl font-bold tracking-tight">Blogs:</h1>
      <!-- <hr/> -->

      <div id="blogs-list">
				<div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5"> 
        <% blogs.forEach(function(blog){ %>
					<div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
        <img class="rounded-t-lg" src="/docs/images/blog/image-1.jpg" alt="" />
    </a>
    <div class="p-5">
        <a href="/blog/<%= blog.slug %>" rel="noopener" target="_blank">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
							<%= blog.title %>
						</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><%= blog.teaser %></p>
    </div>
</div>

					
<!--           <div class="blog">
            <a href="/blog/<%= blog.slug %>" rel="noopener"><%= blog.title %></a>

            <p class="description"><%= blog.teaser %></p>
          </div> -->
        <% }) %>

        <%if (blogs.length == 0) { %>
          <p>No blogs :(</p>
        <% } %>
      </div>
    </div>


					
    <%if (renderAnalytics == true) { %>
      <script src="/scripts/science.js"></script>

      <script>
        window.tracker = ackeeTracker.create(`https://<%= analytics.AckeeHost %>`, { ignoreLocalhost: true,detailed: true, ignoreOwnVisits: false })

        window.tracker.record('<%= analytics.AckeeID %>')
      </script>
    <% } %>

		<script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
  </body>
</html>