<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <meta name="theme-color" content="#50C878">

    <meta name="title" content="<%= meta.Name %>">
    <meta name="description" content="<%= meta.Description %>">
    <meta name="author" content="HackermonDev">

    <meta name="og:title" content="<%= meta.Name %>">
    <meta name="og:description" content="<%= meta.Description %>">
    <meta name="og:icon" content="/static/images/hackermon.png">
    
    <meta property="og:image" content="/static/images/hackermon.png"/>
    <meta name="og:site_name" content="HackermonDev">

    <meta name="author" content="HackermonDev">

    <title>HackermonDev - <%= meta.Name %></title>

    <link href="/static/images/hackermon.png" rel="icon" type="image/png">
    
    <link href="/static/style/index.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- add some space to the top e-->
    <br>

    <h1 class="title">HackermonDev</h1>
      
    <br>
    <div id="links">
      <% Object.keys(links).forEach(function(link){ %>
        <a href="<%= links[link] %>"><%= link %></a>
      <% }) %>
    </div>
    
    <!-- Add lots of spaces -->

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div id="projects">
      <h1 class="section-title">Projects:</h1>
      <!-- <hr/> -->

      <div id="projects-list">

        <% projects.forEach(function(project){ %>
          <div class="project">
            <a href="<%= project.url %>" rel="noopener" target="_blank"><%= project.name %></a>

            <p class="description"><%= project.description %></p>
          </div>
        <% }) %>
      </div>
    </div>





    <!-- Add lots of spaces -->

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <%if (renderAnalytics == true) { %>
      <script src="/scripts/science.js"></script>

      <script>
        window.tracker = ackeeTracker.create(`https://<%= analytics.AckeeHost %>`, {
          ignoreLocalhost: true,
          detailed: true,
          ignoreOwnVisits: false
        })

        window.tracker.record('<%= analytics.AckeeID %>')
      </script>
    <% } %>
    
  </body>
</html>